

<div class="center">
	<div class="col-md-12" style="center"><h2>Upcoming Events</h2></div>
	<a href="/jams?sort=date&sort_order=asc">Sort by ascending date</a><br>
		<a href="/jams?sort=date&sort_order=desc">Sort by descending date</a><br>
	<br>
</div>

		<!-- add to my timeline link here -->
		<!-- the link should only be visible to logged in users -->

		<% @jams.each_slice(3) do |three| %>
		  <div class="row">
		    <% three.each do |jam| %>
		         <div class="col-md-4">
		          <div class="well">
		            <div class="item">
		             <a href="/jams/<%= jam.id %>"><h3><%= jam.name %></h3></a><br>
		             <%= jam.song %><br>
							<%= jam.location %><br>
							<br>
							<h3><span class="label label-info"><%= (jam.date).strftime("%A, %b %d") %></span></h3>
							<% if user_signed_in? %>
								<%= link_to "See Details", "/jams/#{jam.id}"%>
							<% end %>
		            </div>
		          </div>
		        </div>
		    <%end%>
		  </div>
		<% end %>
<div class="center">
		<% if user_signed_in? %>
				<p>
				<br>
				<button type="button" class="btn btn-primary"><%= link_to "Start a Jam!", "/jams/new", method: :get %></button>
				</p>
		<% end %>
</div>


