<div class="center">

	<h1><%= @jam.name %></h1>

	Song: <%= @jam.song %><br>
	Date: <%= @jam.date.strftime("%b %e, %l:%M %p") %><br>
	Location: <%= @jam.location %><br>
	Owner: <%= @jam.user_id %><br>

<% if user_signed_in? %>
	<% if current_user.id == @jam.user_id %>
		<%= link_to "Edit the event", "/jams/#{@jam.id}/edit" %><br>
	<% else %>
		<div class="form">
			<h3>Join This Jam</h3>
			<%= form_tag "/jam_participants", method: :post do %>
				<div class="check">
					<input type="hidden" name="jam_id" value="<%= @jam.id %>">
				</div>
				<div class="check">
				<input type="submit" value="Add To Timeline" class="btn btn-default">
				</div>
			<%end%>
		</div>	
	<% end %>
<% end %>

<%= link_to "See All Jams", "/jams" %>
</div>
